.dd-list-item {
  padding: 2px 5px;
  cursor: pointer;
}


.dd-control-container {
  height: 38px;
  display: flex;
  align-items: center;
}

.dd-display-item {
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  flex-grow: 1;
  position: relative;
}
.dd-display-item i {
  font-size: 18px;
  padding: 8px 10px;
  width: 40px;
  position: absolute;
  right: 0;
}

.dd-active {
  background-color: #ddd;
}

.dd-highlight-item {
  background-color: #00b7d4;
  color: #fff;
}

.dd-items-container {
  border: 1px solid #00b7d4;
  background-color: #fff;
  position: absolute;
  font-size: 18px;
  overflow: auto;
  height: 180px;
  width: 100%;
  z-index: 9;
  top: 27px;
}

.drop-input {
  position: absolute;
  text-indent: 15px;
  font-size: 18px;
  z-index: 10;
  width: 100%;
}
.dd-list-container {
  position: relative;
}


