<footer class="py-4 pt-md-5 bg-primary">
    <div class="container">
      <div class="row text-white">
        <div class="col-12 col-md">
          <div id="u71" class="ax_default icon">
            <img src="../assets/images/logo-footer.png" />
            <h2 class="d-inline">SmartACT</h2>
          </div>
          <small class="d-block mb-3 text-white"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            euismod bibendum laoreet. Proin gravida dolor sit amet lacus
            accumsan et viverra justo commodo. Proin sodales pulvinar
            tempor.</small
          >
        </div>
        <div class="col-6 col-md ml-5">
          <h5>Primary Navigation</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-white" href="../index.html">Home</a></li>
            <li><a class="text-white" href="../about.html">About Us</a></li>
            <li><a class="text-white" href="../contact.html">Contact Us</a></li>
            <li><a class="text-white" href="../tutoring.html">Tutoring</a></li>
            <li><a class="text-white" href="../act.html">Act</a></li>
            <li><a class="text-white" href="../pricing.html">Pricing</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="text-hide mt-4"></h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-white" href="#">Privacy Policy</a></li>
            <li><a class="text-white" href="#">Terms & Conditions</a></li>
            <li><a class="text-white" href="../register.html">Enroll Now</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>SocialMedia</h5>
          <div class="d-flex">
            <a href="#" class="mr-2"><img src="../assets/images/facebook.jpg" /></a>
            <a href="#" class="mr-2"><img src="../assets/images/twitter.jpg" /></a>
            <a href="#" class="mr-2"><img src="../assets/images/instagram.jpg" /></a>
            <a href="#" class="mr-2"><img src="../assets/images/google.jpg" /></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
