<div class="content-wrapper">


    <div class="course-details">
        <div class="row mb-3">

            <div class="col-md-12">
                <h3 class="page-title"><a class="text-dark cp" routerLink="/admin/resource-library">Resource Library</a>
                    <small class="pl-2 pr-2 ft-12">>></small> <small
                        class="cp"><strong [routerLink]="['/admin/resource-library',model._id]">Chapters</strong></small><small class="pl-2 pr-2 ft-12">>></small>
                        <small
                        class="cp"><strong>{{lesson?.title}}</strong></small>

                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="white-tile">
                    <div class="row border-bottom pb-2 white-tile-head">
                        <div class="col-12">
                            <h5 class="ft-15"><strong class="heading">{{lesson?.title}}</strong></h5>
                        </div>
                    </div>

                    <div class="white-tile-body">

                        <div class="row">
                            <div class="col-12">

                                <ul class="nav nav-tabs tab-transparent" id="myTab" role="tablist">
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link active" id="video-tab" data-toggle="tab" href="#video"
                                            role="tab" aria-controls="video" aria-selected="false">Video</a>
                                    </li>
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link" id="pdf-tab" data-toggle="tab" href="#pdf" role="tab"
                                            aria-controls="pdf" aria-selected="false">Pdf's</a>
                                    </li>
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link" id="quiz-tab" data-toggle="tab" href="#quiz" role="tab"
                                            aria-controls="quiz" aria-selected="false">Quiz</a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade active show" id="video" role="tabpanel"
                                        aria-labelledby="overview-tab">

                                        <div class="row">
                                            <div class="col-7">
                                                <div class="full-width">
                                                    <youtube-player [videoId]="videoURL"></youtube-player>
                                                </div>

                                                <div class="mt-5">
                                                    <h5>Description</h5>
                                                    <p *ngIf="lesson.description" [innerHTML]="lesson.description">

                                                </div>

                                            </div>

                                            <div class="col-5">
                                                <ng-container *ngTemplateOutlet="chapters"></ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pdf" role="tabpanel" aria-labelledby="syllabus-tab">

                                        <div>
                                            <h5>Description</h5>
                                            <p *ngIf="lesson.description" [innerHTML]="lesson.description">

                                        </div>
                                        <div class="row">
                                            <div class="col-7 video-player">
                                                <div class="pdf-toolbar">
                                                    <button class="btn" [disabled]="prevDisable"
                                                        (click)="getPrevPage()">Previous</button>
                                                    <span>Page: {{pdfPagination.pageNum}} / {{pdfPagination.pageCount}}
                                                    </span>
                                                    <button class="btn" [disabled]="nextDisable"
                                                    (click)="getNextPage()">Next</button>
                                                    <div class="loading" *ngIf="fileLoading"></div>
                                                </div>

                                                <canvas id="the-canvas"></canvas>
                                                

                                            </div>

                                            <div class="col-5">
                                                <ng-container *ngTemplateOutlet="chapters"></ng-container>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="quiz" role="tabpanel" aria-labelledby="chapters-tab">

                                         <app-quiz-list *ngIf="model?._id" [modelId]="model._id" [subjectId]="model.subjectId" [addQuizButton]="addQuizButton"></app-quiz-list>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>

    </div>

</div>

<ng-template #chapters>
    <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds">
        <ngb-panel *ngFor="let chapter of model.chapters;let i = index" [id]="chapter._id">
            <ng-template ngbPanelHeader>
                <div class="d-flex">
                    <h5 class="mt-2"><button (click)="getLessons(chapter,i,0)" class="m-0 btn btn-sm btn-link card-text-title" ngbPanelToggle>Ch {{i+1}}.
                            {{chapter.title}}</button></h5>


                </div>
            </ng-template>
            <ng-template ngbPanelContent>

                <ul class="lesson-list-small">
                    <li *ngFor="let lesson of chapter.lessons;let k = index" (click)="onLessonClick(lesson)">
                        <a class="text-primary">Lesson-{{k+1}}:
                            {{lesson.title}}</a>
                    </li>
                </ul>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</ng-template>