#the-canvas{
    width: 100%;
    border: 1px solid;
}
.full-width{
    width: 100%;
}
.pdf-toolbar{
    display: flex;
    background: rgb(50, 54, 57);
    width: 100%;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.pdf-toolbar button{
    color: white;
}
.pdf-toolbar span{
    font-size: 13px;
}
.heading{
    color: #f6b024;
    font-size: 24px;
    font-weight: 600;
}
.nav-item .nav-link{
    font-weight: 600;
    padding: 0.875rem 1.25rem !important;
}
.white-tile{
    box-shadow: 0px 0px 14px -1px rgba(67, 67, 67, 0.35);
    border:0
}

::ng-deep .card .card-header{
    background-color: #0880e8 !important;
    color: #fff !important;
}
::ng-deep .card .card-header .card-text-title{
    color: white;
    font-weight: 600;
}
::ng-deep .card .card-header .icon-card{
    background-color: transparent;
    border: 0;
    color: white;
}
::ng-deep .card .card-body{
    padding: 0 !important;
}
::ng-deep .card .lesson-list{
    padding: 20px;
}
::ng-deep .card .semi-header{
    padding: 5px 15px;
    background-color: #cccccc;
    color: #949391;
    font-size: 15px;
    font-weight: 600;
}
.video-player{
    height: calc(100vh - 373px);
    overflow-y: auto;
}
#myTab {margin-top: 20px;}
#myTab li a{
    padding: 7px 15px;
    font-weight: 600;
}
#myTab li a.active{
    background-color: #f6b024;
    color: white;
    border-radius: 7px 7px 0 0;
}
#myTab li a.active::after{
    content: unset !important;
}

.video-player::-webkit-scrollbar {
    width: 8px;
}
.video-player::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.video-player::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190); 
    border-radius: 10px;
}