<div class="dashboard_main">
      
 
    
    <div class="bg_img">
        <div id="carouselExampleControls" class="carousel slide slider_theme carousel-fade" data-ride="carousel">
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="text-white slider_detalis">
                        <h5 class="fw-bold animate__swing">Gain access to our ACT exam prep tools and resources now!</h5>
                        <p class="pt-4">Sign up with ExamPrep Hub to gain access to all our ACT prep tools and
                            resources, including our
                            discussion classes, practice tests, exam tips, customized study guide, and more.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-white slider_detalis">
                        <h5 class="fw-bold">Welcome to ExamPrepHub</h5>
                        <p class="pt-4">Get a better score by learning from our certified ACT tutors. Our experts have years of experience under their belts and a proven record of helping students succeed. All our instructors are friendly, approachable, and are always ready to help your child have an easy and effective learning experience. Our young learners always say our tutors have a way of assisting them in learning complex topics effortlessly</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-white slider_detalis">
                        <h5 class="fw-bold">ACT preparation made easy</h5>
                        <p class="pt-4">Drill your knowledge gaps with our customized and flexible learning approach. Our ACT tutors will provide you with the motivation and resources you need to achieve your unique goals. Through superior explanations and our science-based problem-solving strategies, you will learn more in less time. Sign up now to start your journey to getting a better ACT score.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
        
    <div class="cours">
        <div class="cours_content">
            <div class="heading text-center">
                <h3>SELECT YOUR COURSE TO GET STARTED!</h3>
                <p class="pb-5">Each of us is a unique person, and success is a perception we all hold dear. For some it
                    will be targeting a perfect score on the ACT or SAT to get a scholarship to an Ivy League School!
                    For some it will be higher grades, all A’s.</p>
            </div>
            <div class="cours_box d-flex">
                <div class="box_main">
                    <a  class="d-flex  align-items-center bgact">
                        <h2>ACT</h2>
                        <p class="ft-13 text-white d-block mt-1" data-toggle="modal"
                        data-target="#PaymentTab">View Details</p>
                    </a>
                </div>
                <div class="box_main">
                    <a  class="d-flex align-items-center bgsat">
                        <h2>SAT</h2>
                        <p class="ft-13 d-block mt-1" data-toggle="modal"
                        data-target="#PaymentTab">View Details</p>
                    </a>
                </div>
                <div class="box_main">
                    <a  class="d-flex align-items-center bgpt">
                        <h2>K-12 Tutoring</h2>
                        <p class="ft-13 d-block mt-1" data-toggle="modal"
                        data-target="#PaymentTab">View Details</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="pricing">
        <div class="pricing_heading text-center">
            <h3>PRICING</h3>
        </div>
        <div class="pring_text text-center">
            <p>Our ACT prep courses are affordable and highly competitive. Over the years, we have learned how to build affordable course plans by maximizing our resources and prepping our students using the most effective methods. Check the ACT course plans we offer below to choose the one that meets your needs.</p>
            <p class="mt-4">Not sure of where to start? Contact us now. We will get in touch with you to assess your ability, understand your needs, and help you choose the perfect plan</p>
        </div>
        <div class="row pb-5">
            <div class="col-lg-4 col-md-4 mt-4 mt-md-0 text-left aos-init aos-animate">
                <div class="box featured">
                    <h3 class="text-center">One To One</h3>
                    <p class="text-left mb-0 ft-13 font-weight-bold pl-4 mh-des" style="color: #444444;">
                        The most effective way to prep: personalized one-on-one sessions with your custom-matched tutor
                    </p>
                    <div class="card-body">
                        <ul>
                            <li>
                                <span class="txt-yellow text-left font-weight-bold" style="font-size: 13px;">One Free Demo Class</span>
                            </li>
                        </ul>
                        <ul class="details-mh">
                            <li class="mb-4">Packages
                            <strong class="ft-big org-clr d-block">$30/hr</strong>
                            </li>
                            <li><i class="fa-thin fa-address-card user-detail"></i> 1-on-1 Tutoring</li>
                            <li> <i class="fa-light fa-computer-classic user-detail"></i>40 Hours of Live classes</li>
                            <li><i class="fa-solid fa-square-poll-vertical user-detail"></i> Practice tests and session reports</li>
                            <li><i class="fa-solid fa-border-none user-detail"></i> Unlimited practice tests</li>
                            <li><i class="fa-brands fa-windows user-detail"></i> Test Anxiety Reduction</li>
                            <li><i class="fa-light fa-globe user-detail"></i> Available Online Only</li>
                            <li><strong class="ft-13">* Minimum 40 Hours while enrolling</strong></li>
                        </ul>
                       
                    </div>
                    <div class="enroll_btn">
                        <button class="btn btn-primary text-center" routerLink="/smart-student/payment-method">Enroll Now</button>
                    </div>
                </div>
             
            </div>
            <div class="col-lg-4 col-md-4 mt-4 mt-md-0 text-left aos-init aos-animate">
                <div class="box featured">
                    <h3 class="text-center">Group Classes
                    </h3>
                    <p class="text-left mb-0 ft-13 font-weight-bold pl-4 mh-des" style="color: #444444;">
                        Targeted ACT concepts and strategies taught by an Examprephub expert
                    </p>
                    <div class="card-body">
                        <ul>
                            <li>
                                <span class="txt-yellow text-left font-weight-bold" style="font-size: 13px;">One Free Demo Class</span>
                            </li>
                        </ul>
                        <ul class="details-mh">
                            <li class="mb-4">Starting at

                            <strong class="ft-big org-clr d-block">$30/hr</strong>
                            </li>
                            <li><i class="fa-light fa-user-group user-detail"></i> Small groups up to 4 students
                            </li>
                            <li> <i class="fa-light fa-computer-classic user-detail"></i> 40 Hours of Live classes
                            </li>
                          
                            <li><i class="fa-solid fa-square-poll-vertical user-detail"></i> Practice tests and session reports</li>
                            <li><i class="fa-solid fa-border-none user-detail"></i> Unlimited practice tests</li>
                            <li><i class="fa-thin fa-crate-empty user-detail"></i> Live Lectures & Class Discussions</li>
                            <li><i class="fa-light fa-globe user-detail"></i> Available Online Only</li>
                            <li><strong class="ft-13">
                                *Ideal for mid-range scoring students who want an overview of content and strategies</strong></li>
                        </ul>
                       
                    </div>
                    <div class="enroll_btn">
                        <button class="btn btn-primary text-center" routerLink="/smart-student/payment-method">Enroll Now</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 mt-4 mt-md-0 text-left aos-init aos-animate">
                   <div class="box featured">
                    <h3 class="text-center">K-12 Tutoring</h3>
                    <p class="text-left mb-0 ft-13 font-weight-bold pl-4 mh-des" style="color: #444444;">
                        Efficient test prep method, also for homework help, final exam prep and key concept mastery
                    </p>
                    <div class="card-body">
                        <ul>
                            <li>
                                <span class="txt-yellow text-left font-weight-bold" style="font-size: 13px;">One Free Demo Class</span>
                            </li>
                        </ul>
                        <ul class="details-mh">
                            <li class="mb-4">Starting at
                            <strong class="ft-big org-clr d-block">$20/hr</strong>
                            </li>
                            <li><i class="fa-thin fa-address-card user-detail"></i> 1-on-1 Tutoring</li>
                            <li> <i class="fa-light fa-computer-classic user-detail"></i>40 Hours of Live classes</li>
                            <li><i class="fa-solid fa-square-poll-vertical user-detail"></i> Practice tests and session reports</li>
                            <li><i class="fa-solid fa-border-none user-detail"></i> Unlimited practice tests</li>
                            <li><i class="fa-brands fa-windows user-detail"></i> Test Anxiety Reduction</li>
                            <li><i class="fa-light fa-globe user-detail"></i> Available Online Only</li>
                            <li><strong class="ft-13">*Minimum 5 hrs. While enrolling</strong></li>
                            <li><strong class="ft-13">*K-5 Tutoring 30 minutes class</strong></li>

                        </ul>
                       
                    </div>
                    <div class="enroll_btn">

                        <button class="btn btn-primary text-center" routerLink="/smart-student/payment-method"  >Enroll Now</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
   
</div>



<div class="modal fade" id="PaymentTab" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-white">
                <h5 class="heading-two">Payment</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body tab">
                <app-payment (submitTrigger)="makePayment($event)"></app-payment>
            </div>
        </div>
    </div>
</div>