.nav-link.active{
    padding: 10px 0 !important;
    border-bottom: 0;
    color: #f6b024 !important;
    font-size: 20px !important;
}
.nav-link.active:after{
    content: unset !important;
}
.pull-right{
    list-style: none;
}
input,select{
    background-color: white;
    font-size: 16px;
}
.stretch-card{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.15);
    border-radius: 10px;
    padding: 0;
}
.tab-content{
    padding: 0;
    border: 0;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}
.nav-tabs {
    border-bottom: 0;
}
::ng-deep .table-bordered thead th{
    background-color: #fff;
    color: #8898aa;
    font-size: 11.7px !important;
    text-transform: uppercase;
    font-weight: bold !important;
    font-family: 'Nunito Sans', sans-serif;
}
.events-table td{
    font-size: 14px; 
    font-weight: 500;
}