.no-wrap th, .no-wrap td{
    white-space: nowrap;
}
i{
    cursor: pointer;
    margin: 0 5px;
}

::ng-deep #paginationListId .ngx-pagination li{
    border-radius: 50px;
}
::ng-deep #paginationListId .ngx-pagination li.current{
    background-color: #0880e8;
}
::ng-deep #paginationListId .ngx-pagination{
    display: flex;
    justify-content: flex-end;
}
input,select{
    background-color: white;
    font-size: 16px;
}
.events-table{
    background-color: #fff !important;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: #fff !important;
}
.table-bordered td, .table-bordered th{
    border: 0;
}
.table-bordered{
    /* border: 1px solid rgb(227, 227, 227); */
  font-family: 'Nunito Sans', sans-serif;
  border: 0 !important;

}
.stretch-card{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.15);
    border-radius: 10px;
    padding: 0;
}
.page-title{
    padding: 15px;
    font-weight: 600;
    font-size: 19.3px;
    border-radius: 10px 10px 0 0;
    color: #f6b024;
}
.table-bordered tr td, .table-bordered thead{
    border-bottom: 1px solid rgb(227, 227, 227);
}
::ng-deep .table-bordered thead th{
    background-color: #fff;
    color: #8898aa;
    font-size: 11.7px !important;
    text-transform: uppercase;
    font-weight: bold !important;
    font-family: 'Nunito Sans', sans-serif;
}
.table-bordered thead{
    border-top: 1px solid rgb(227, 227, 227);
}
.events-table td{
    font-size: 14px; 
    font-weight: 500;
}
.tab-content{
    border: 0;
    padding: 0;
}
.card-body{
    padding: 0 !important;
}


.modal-header{
    border-radius: 10px 10px 0 0;
    padding: 10px 20px;
}
.modal-header h5{
    font-size: 25px;
    font-weight: 600;
    color: #f6b024 !important;
}
.modal-header button{
    color: black;
    opacity: 1;
}
.modal-body,.modal-footer{
    background-color: white;
    padding: 0;
}
.modal-footer{
    padding: 15px;
}
.modal-footer button{
    padding: 7px 15px;
    width: 100px;
    height: 39px;
}
::ng-deep .modal-content{
    border: 0;
}   