<div class="p-3">
    <div class="heading">Order History</div>
    <div class="row m-0">
        <div class="col-3">
            <div class="card-data">
                <img src="../../../assets/images/logo-footer.png" alt="">
                <div class="bottom-data">
                    <h5>ACT  suject purchase details</h5>
                    <a routerLink="/smart-student/order-history/order-histroy-detials">View</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card-data">
                <img src="../../../assets/images/logo-footer.png" alt="">
                <div class="bottom-data">
                    <h5>K-12 Tutoring  suject purchase details</h5>
                    <a routerLink="/smart-student/order-history/order-histroy-detials">View</a>
                </div>
            </div>
        </div>
    </div>
</div>