.page-body-wrapper{
    margin-top: -64px;
    position: relative;
    z-index: 9999;
    padding-top:64px;
    padding-bottom:0px;
    margin-bottom:0px;
}

body{
    background-color: #f0f1f6 !important;
}

.auth-form-light{
    border-top:10px solid #0880e8;
    border-radius:5px;
    padding:10px 50px;
}

.auth .brand-logo{
    margin-bottom: 0px !important;
}

.auth form .form-group{
    margin-bottom: 15px !important;
}

.mt-10{
    margin-top: 10px;
}

.content-wrapper {
    background-image: url(https://examprephub.com/assets/img/account-type-bg.jpg) !important;
    background-size: cover !important;
    display: flex !important;
    width: 100% !important;
    height: 100vh !important;
    justify-content: center !important;
    align-items: center !important;
}
