<div class="container-fluid page-body-wrapper full-page-wrapper pb-0 h-100">
    <div class="content-wrapper d-flex align-items-center auth">
        <div class="row flex-grow">
            <!-- Right Column -->
            <div class="col-md-3 mx-auto">
                <div class="auth-form-light p-5">
                    <h1 class="logo mr-auto text-center"><img src="../../assets/images/logo_testpaper.png" alt=""></h1>


                    <form  [formGroup]="form" (ngSubmit)="onLogin()">

                        <div class="form-group">
                            <div class="row">
                                <input type="email" autocomplete="off" class="form-control col-md-12" id="email"
                                    placeholder="Enter Email" formControlName="email"
                                    [ngClass]="{ 'is-invalid': f.email.touched && f.email.invalid }" required />


                                <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
                                    class="invalid-feedback offset-4 col-md-8">
                                    <div *ngIf="f.email.errors.required">
                                        Email is required.
                                    </div>
                                    <div *ngIf="f.email.errors.email">
                                        Invalid Email
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="px-0 d-flex justify-content-center">
                                    <button type="submit" [disabled]="!form.valid"
                                        class="btn btn-primary" style="width: 120px;">Submit</button>
                                </div>
                            </div>

                        </div>
                        <div class="row mt-4">
                            <div class="">
                                <p class="text-center">Have credentials? <a [routerLink]="['/login']"
                                        class="cp text-primary font-weight-bold">Login
                                        Here</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>